apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.worker.name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Values.worker.name }}
    group: {{ .Values.webapp.group }}
    component: worker
spec:
  replicas: {{ .Values.worker.replicaCount }}
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: {{ .Values.worker.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.worker.name }}
        component: worker
    spec:
      containers:
      - name: {{ .Values.webapp.name }}-worker
        image: {{ .Values.scheduler.container.image }}
        imagePullPolicy: {{ .Values.scheduler.container.imagePullPolicy }}
        args:
          - dask
          - worker
          - {{ .Values.scheduler.name }}:{{ .Values.scheduler.container.workerPort }}
          - --nthreads=4         
          - --memory-limit=32GB   
          - --death-timeout=60
        resources:
          limits:
            memory: {{ .Values.worker.container.memory }}
            cpu: {{ .Values.worker.container.cpu }}
        volumeMounts:
          - mountPath: /home/mambauser/app/src/cesm-2-dashboard/LENS2-ncote-dashboard/data_files/
            name: data-files
      volumes:
        - name: data-files
          persistentVolumeClaim:
            claimName: data-files
    